In [ ]:
Dictionary is an initialize by {}
Dictionary is defined by using {key:value}
key=>columns
value=>rows
Dictionary is a muttable data type.
Dictionary is an ordered data type.
Dictionary is used to create an database table.
Dictionary does not allow duplicate keys.

In [2]:
d1={'Apple':'red','Banana':'yellow','Orange':'Orange','Apple':'Green'}
print(d1)

{'Apple': 'Green', 'Banana': 'yellow', 'Orange': 'Orange'}

In [3]:
#get() is used to get a particular key element value
d1.get('Orange')

'Orange'

In [4]:
# key is an index.
d1['Apple']

'Green'

In [5]:
d1.update({'Grapes':'Green'})
print(d1)

{'Apple': 'Green', 'Banana': 'yellow', 'Orange': 'Orange', 'Grapes': 'Green'}

In [6]:
d1['Apple']='Red'
print(d1)

{'Apple': 'Red', 'Banana': 'yellow', 'Orange': 'Orange', 'Grapes': 'Green'}

In [8]:
#popitem() is used to remove by default last key:value pair
d1.popitem()

('Grapes', 'Green')

In [9]:
# pop() is used to remove a particular key element.
d1.pop('Orange')

'Orange'

In [10]:
d1

{'Apple': 'Red', 'Banana': 'yellow'}

In [11]:
#dictionary within dictionary
employee_data={'emp1':{'employee_name':'Prashant','skill':'python'},
               'emp2':{'employee_name':'Siddhi','skill':'python'}}
print(employee_data)

{'emp1': {'employee_name': 'Prashant', 'skill': 'python'}, 'emp2': {'employee_name': 'Siddhi', 'skill': 'python'}}

In [12]:
import pandas as pd
pd.DataFrame(employee_data)

                   emp1    emp2
employee_name  Prashant  Siddhi
skill            python  python

In [13]:
employee_data.update({'emp3':{'employee_name':'Vaibhav','skill':'python'},
               'emp4':{'employee_name':'Narendra','skill':'python'}})
print(employee_data)

{'emp1': {'employee_name': 'Prashant', 'skill': 'python'}, 'emp2': {'employee_name': 'Siddhi', 'skill': 'python'}, 'emp3': {'employee_name': 'Vaibhav', 'skill': 'python'}, 'emp4': {'employee_name': 'Narendra', 'skill': 'python'}}

In [14]:
employee_data

{'emp1': {'employee_name': 'Prashant', 'skill': 'python'},
 'emp2': {'employee_name': 'Siddhi', 'skill': 'python'},
 'emp3': {'employee_name': 'Vaibhav', 'skill': 'python'},
 'emp4': {'employee_name': 'Narendra', 'skill': 'python'}}

In [15]:
employee_data.items()

dict_items([('emp1', {'employee_name': 'Prashant', 'skill': 'python'}), ('emp2', {'employee_name': 'Siddhi', 'skill': 'python'}), ('emp3', {'employee_name': 'Vaibhav', 'skill': 'python'}), ('emp4', {'employee_name': 'Narendra', 'skill': 'python'})])

In [17]:
employee_data.keys()

dict_keys(['emp1', 'emp2', 'emp3', 'emp4'])

In [18]:
employee_data.values()

dict_values([{'employee_name': 'Prashant', 'skill': 'python'}, {'employee_name': 'Siddhi', 'skill': 'python'}, {'employee_name': 'Vaibhav', 'skill': 'python'}, {'employee_name': 'Narendra', 'skill': 'python'}])

In [19]:
employee_data.get('emp3')

{'employee_name': 'Vaibhav', 'skill': 'python'}

In [20]:
employee_data['emp3']

{'employee_name': 'Vaibhav', 'skill': 'python'}

In [21]:
employee_data['emp3']['skill']

'python'

In [22]:
employee_data['emp4']['skill']='java'
employee_data

{'emp1': {'employee_name': 'Prashant', 'skill': 'python'},
 'emp2': {'employee_name': 'Siddhi', 'skill': 'python'},
 'emp3': {'employee_name': 'Vaibhav', 'skill': 'python'},
 'emp4': {'employee_name': 'Narendra', 'skill': 'java'}}

In [23]:
employee_data['emp2']['employee_name']='Akshata'
employee_data

{'emp1': {'employee_name': 'Prashant', 'skill': 'python'},
 'emp2': {'employee_name': 'Akshata', 'skill': 'python'},
 'emp3': {'employee_name': 'Vaibhav', 'skill': 'python'},
 'emp4': {'employee_name': 'Narendra', 'skill': 'java'}}

In [4]:
# Write a program to find particular person present in a dictionary or not.
employee_data={'emp1': {'employee_name': 'Prashant', 'skill': 'python'},
 'emp2': {'employee_name': 'Akshata', 'skill': 'python'},
 'emp3': {'employee_name': 'Vaibhav', 'skill': 'python'},
 'emp4': {'employee_name': 'Narendra', 'skill': 'java'}}
# take a employee name from user side
person_name=input("Enter the employee name")
for id in employee_data.keys():
    if(employee_data[id]['employee_name']==person_name):
        print(f"{person_name} present in data")
        break
else:
    print(f"{person_name} not present in data")

siddhi not present in data