Data type

In [2]:
print("Welcome to python")

Welcome to python

In [ ]:
emp_name='Narendra'
print(emp_name)  #to display an output

Narendra

In [4]:
_=2000
print(_)

2000

Numeric data type

In [5]:
#integer data type
employee_id=101
print(type(employee_id))
#float data type
employee_salary=85000.00
print(type(employee_salary))
# string data type
employee_name='Prashant'
print(type(employee_name))

<class 'int'>
<class 'float'>
<class 'str'>

In [6]:
x=23+7j
print(type(x))

<class 'complex'>

type() is used to return data type.

Sequence order data type

In [9]:
# list,tuple,string
# list notation=>[]
emp_name_list=['Prashant','Narendra','Vaibhav','Siddhant','Sarthi','Akshata']
print(type(emp_name_list))
print(emp_name_list)

<class 'list'>
['Prashant', 'Narendra', 'Vaibhav', 'Siddhant', 'Sarthi', 'Akshata']

In [10]:
#tuple notation=>()
emp_name_list=('Prashant','Narendra','Vaibhav','Siddhant','Sarthi','Akshata')
print(type(emp_name_list))
print(emp_name_list)

<class 'tuple'>
('Prashant', 'Narendra', 'Vaibhav', 'Siddhant', 'Sarthi', 'Akshata')

In [12]:
#set data type=>notation {}=>unordered data type
emp_name_list={'Prashant','Narendra','Vaibhav','Siddhant','Sarthi','Akshata'}
print(type(emp_name_list))
print(emp_name_list)

<class 'set'>
{'Akshata', 'Siddhant', 'Prashant', 'Vaibhav', 'Sarthi', 'Narendra'}

In [13]:
# boolean data type => True or False
True + True

2

In [14]:
False+True

1

In [16]:
import keyword 
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [17]:
true=100
print(type(true))
print(type(True))

<class 'int'>
<class 'bool'>

In [18]:
bool(10)

True

In [19]:
bool(1)

True

In [20]:
bool(0)

False

In [21]:
bool('python')

True

In [22]:
bool([])

False

In [23]:
bool(-300)

True

In [24]:
bool('')

False

In [25]:
bool('a')

True

Bool() function return result True for any non-zero values and return result False for zero values.

In [26]:
bool('01')

True

In [27]:
a=111
b='111'
print(type(a))
print(type(b))

<class 'int'>
<class 'str'>

In [30]:
c=222
d='222'
print(a+c)
print(b+d)

333
111222

In [32]:
x=[10,20,30,40,50]
y=[60,70,80,90,100]
print(y+x)

[60, 70, 80, 90, 100, 10, 20, 30, 40, 50]

In [33]:
x=(10,20,30,40,50)
y=(60,70,80,90,100)
print(y+x)

(60, 70, 80, 90, 100, 10, 20, 30, 40, 50)

In [ ]:
# dictionary data notation=>{key : value}=>sequence ordered data type
# key=>column name
# value => row (record)
stud_info={'student_name':['raj','ram','seeta'],
           'course_name':('python','Data Science','Django')}
print(type(stud_info))
print(stud_info)

<class 'dict'>
{'student_name': ['raj', 'ram', 'seeta'], 'course_name': ('python', 'Data Science', 'Django')}

In [36]:
import pandas as pd 
pd.DataFrame(stud_info)

  student_name   course_name
0          raj        python
1          ram  Data Science
2        seeta        Django

In [ ]:
pip install pandas