In [2]:
#for loop :=>string data type
name='Vaibhav'
for x in name:
    print(x)
    print("Good Morning")

V
Good Morning
a
Good Morning
i
Good Morning
b
Good Morning
h
Good Morning
a
Good Morning
v
Good Morning

In [3]:
#for loop :=> list data type
numbers=[10,20,30,40,50]
for i in numbers:
    print(i)

10
20
30
40
50

In [7]:
# for loop :=>tuple data type
names=('apple','orange','banana','grapes','apple')
for fruit in names:
    print(fruit)

apple
orange
banana
grapes
apple

In [8]:
#for loop :=> set data type
#set does not allow duplicate elements
names={'apple','orange','banana','grapes','apple'}
for i in names:
    print(i)

banana
apple
orange
grapes

In [10]:
# for loop :=> range()
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [11]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [12]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [17]:
# for loop :=> dictionary data type
data={'fruit_name':['apple','banana','orange','graphes'],
      'color':['red','yellow','orange','green']}
#we convert dictionary into dataframe
import pandas as pd
d1=pd.DataFrame(data)
#convert dataframe into excel sheet
d1.to_excel('fruit_data.xlsx')

In [19]:
import pandas as pd
#excel sheet into dataframe
data1=pd.read_excel('fruit_data.xlsx')
print(data1)

   Unnamed: 0 fruit_name   color
0           0      apple     red
1           1     banana  yellow
2           2     orange  orange
3           3    graphes   green

In [21]:
#for loop :=>dictionary
data={'fruit_name':['apple','banana','orange','graphes'],
      'color':['red','yellow','orange','green']}
print(data)

{'fruit_name': ['apple', 'banana', 'orange', 'graphes'], 'color': ['red', 'yellow', 'orange', 'green']}

In [22]:
data.keys()

dict_keys(['fruit_name', 'color'])

In [23]:
data.values()

dict_values([['apple', 'banana', 'orange', 'graphes'], ['red', 'yellow', 'orange', 'green']])

In [24]:
data.items()

dict_items([('fruit_name', ['apple', 'banana', 'orange', 'graphes']), ('color', ['red', 'yellow', 'orange', 'green'])])

In [26]:
for i in data:
    print(i)
    print("Hello")

fruit_name
Hello
color
Hello

In [27]:
for i in data.keys():
    print(i)

fruit_name
color

In [28]:
for i in data.values():
    print(i)
    print("Hi")

['apple', 'banana', 'orange', 'graphes']
Hi
['red', 'yellow', 'orange', 'green']
Hi

In [32]:
for i,j in data.items():
    print(i)
    print(j)
    print("hello")

fruit_name
['apple', 'banana', 'orange', 'graphes']
hello
color
['red', 'yellow', 'orange', 'green']
hello

In [34]:
#To filter the names from student name those are containing an alphabet 's' 
student_name=['Akshata','Vaibhav','Siddhant','Sakshi','Prashant','Narendra']
for name in student_name:
    if('s' in name or 'S' in name):
        print(name)

Akshata
Siddhant
Sakshi
Prashant

In [36]:
#To display the square of numbers from 11 to 20.
for i in range(11,21):
    print(f"Number {i} square is {i*i}")

Number 11 square is 121
Number 12 square is 144
Number 13 square is 169
Number 14 square is 196
Number 15 square is 225
Number 16 square is 256
Number 17 square is 289
Number 18 square is 324
Number 19 square is 361
Number 20 square is 400

In [37]:
#operator overloading
'T' *3

'TTT'

In [38]:
[1,2,3,4]*2

[1, 2, 3, 4, 1, 2, 3, 4]

In [39]:
(1,2,3,4)*2

(1, 2, 3, 4, 1, 2, 3, 4)

In [40]:
for i in range(1,6):
    print('*' * i)

*
**
***
****
*****

In [41]:
#To display the factorial of numbers from 1 to 5.
import math 
math.factorial(5)

120

In [43]:
for i in range(1,6):
    print(math.factorial(i))

1
2
6
24
120

In [50]:
#nested for loop
for i in range(1,4):
    print("Outer loop")
    print("Value of i is ",i)
    print("Inner loop")
    for j in range(1,3):
        print("Value of j is",j)

Outer loop
Value of i is  1
Inner loop
Value of j is 1
Value of j is 2
Outer loop
Value of i is  2
Inner loop
Value of j is 1
Value of j is 2
Outer loop
Value of i is  3
Inner loop
Value of j is 1
Value of j is 2