In [1]:
#Create character list of given string.
name='Vaibhav'
character_list=[i for i in name]
print(character_list)

['V', 'a', 'i', 'b', 'h', 'a', 'v']

In [2]:
#To generate square of numbers of a given a tuple using list comprehension.
numbers=(12,34,7,22,18)
square_list=[num*num for num in numbers]
print(square_list)

[144, 1156, 49, 484, 324]

In [3]:
#Create a list of upper case of a given list elements.
names=['prashant','siddhant','narendra','sarthi']
upper_case_list=[name.upper() for name in names]
print(upper_case_list)

['PRASHANT', 'SIDDHANT', 'NARENDRA', 'SARTHI']

In [4]:
#To filter the numbers those are divisible by 3
num_list=[12,78,34,79,33,20,10,75,93,82,41]
number_divisible_by_3=[num for num in num_list if num%3==0]
print(number_divisible_by_3)

[12, 78, 33, 75, 93]

In [8]:
#To filter the names those are containing a character 's'
names=['prashant','Siddhant','narendra','Sarthi']
result=[name for name in names if 's' in name or 'S' in name]
print(result)

['prashant', 'Siddhant', 'Sarthi']

In [9]:
# if..else 
x=20
if(x%2==0):
    print('even')
else:
    print('odd')

even

In [10]:
x=20
print('even') if x%2==0 else print('odd')

even

In [12]:
x=[12,78,34,91,83,87,95,52,65]
output_result=['even'  if number%2==0 else 'odd' for number in x]
print(output_result)

['even', 'even', 'even', 'odd', 'odd', 'odd', 'odd', 'even', 'odd']

In [15]:
#Replace apple with mango
fruits=['apple','banana','pineapple','grapes']
#new_fruits=['mango','banana','pineapple','grapes']
new_fruits=[fruit.replace('apple','mango') for fruit in fruits if 'apple' in fruit]
print(new_fruits)

['mango', 'pinemango']

In [16]:
#Replace apple with mango
fruits=['apple','banana','pineapple','grapes']
#new_fruits=['mango','banana','pineapple','grapes']
new_fruits=['mango' if fruit=='apple' else fruit for fruit in fruits]
print(new_fruits)

['mango', 'banana', 'pineapple', 'grapes']

In [18]:
p=[1,2]
#[[1,1],[1,2],[2,1],[2,2]]
[[i,j] for i in p for j in p]

[[1, 1], [1, 2], [2, 1], [2, 2]]

In [20]:
p=[1,2,3]
#[[1,1],[1,2],[2,1],[2,2]]
result=[[i,j,k] for i in p for j in p for k in p]
print(result)

[[1, 1, 1], [1, 1, 2], [1, 1, 3], [1, 2, 1], [1, 2, 2], [1, 2, 3], [1, 3, 1], [1, 3, 2], [1, 3, 3], [2, 1, 1], [2, 1, 2], [2, 1, 3], [2, 2, 1], [2, 2, 2], [2, 2, 3], [2, 3, 1], [2, 3, 2], [2, 3, 3], [3, 1, 1], [3, 1, 2], [3, 1, 3], [3, 2, 1], [3, 2, 2], [3, 2, 3], [3, 3, 1], [3, 3, 2], [3, 3, 3]]

In [28]:
#dictionary comprehension
#{key:value}
x={1,2,3,4,5} #input
#{1:1,2:4,3:9,4:16,5:25}
#syntax => {expression for iterable in iterable_object}
result={i:i*i for i in x}
print(result)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [30]:
characters=['a','d','i','k','p']
#output=>{'a':'AA','d':'DD','i':'II','k':'KK',p':'PP'}
{ch:ch.upper()*2 for ch in characters}

{'a': 'AA', 'd': 'DD', 'i': 'II', 'k': 'KK', 'p': 'PP'}

In [29]:
z='prashant'
z*2

'prashantprashant'

In [32]:
numbers=[2,6,8,9,12,24,17,19]
#{'8':64}
{num:num**2 for num in numbers if num%4==0}

{8: 64, 12: 144, 24: 576}

In [34]:
first_name=['prashant','Siddhant','narendra','Sarthi']
last_name=['pote','pawar','gophane','chaudhari']
list(zip(first_name,last_name))

[('prashant', 'pote'),
 ('Siddhant', 'pawar'),
 ('narendra', 'gophane'),
 ('Sarthi', 'chaudhari')]

In [35]:
first_name=['prashant','Siddhant','narendra','Sarthi']
last_name=['pote','pawar','gophane','chaudhari']
{key:value for key,value in zip(first_name,last_name)}

{'prashant': 'pote',
 'Siddhant': 'pawar',
 'narendra': 'gophane',
 'Sarthi': 'chaudhari'}

In [38]:
x=[10,20,30,40,50]
y=[60,70,80,90,100]
list(zip(x,y))

[(10, 60), (20, 70), (30, 80), (40, 90), (50, 100)]

In [39]:
x=[10,20,30,40,50]
y=[60,70,80,90,100]
#[70,90,110,130,150]
[i+j for i,j in zip(x,y)]

[70, 90, 110, 130, 150]