In [6]:
#to initialize an empty list.
x=[]
print(type(x))

<class 'list'>

In [7]:
#to initialize an empty list
y=list()
print(type(y))

<class 'list'>

In [8]:
# list is a muttable data type
name=[]
# add single element into a list using append()
name.append('mobile')
print(name)

['mobile']

In [9]:
# add more than one element into a list
name.extend(['laptop','pen'])
print(name)

['mobile', 'laptop', 'pen']

In [10]:
name.extend(['bag','pencil'])
print(name)

['mobile', 'laptop', 'pen', 'bag', 'pencil']

In [11]:
#insert(): add element a particular position
#insert(index,element)
name.insert(2,'mouse')
print(name)

['mobile', 'laptop', 'mouse', 'pen', 'bag', 'pencil']

In [16]:
name=name+['notebook','book']
print(name)

['mobile', 'laptop', 'mouse', 'pen', 'bag', 'pencil', 'notebook', 'book', 'notebook', 'book']

In [17]:
x=['Narendra','Prashant','Sarthi']
y=x #assignment operator 
print("Original list is x=   ",x)
print("Duplicate list is y=  ",y)
#add elements into x
x.extend(['Vaibhav','Akshata'])
print("Original list is x=   ",x)
print("Duplicate list is y=  ",y)
#memory address of variable
print("Memory address of x is ",id(x))
print("Memory adress of y is ",id(y))

Original list is x=    ['Narendra', 'Prashant', 'Sarthi']
Duplicate list is y=   ['Narendra', 'Prashant', 'Sarthi']
Original list is x=    ['Narendra', 'Prashant', 'Sarthi', 'Vaibhav', 'Akshata']
Duplicate list is y=   ['Narendra', 'Prashant', 'Sarthi', 'Vaibhav', 'Akshata']
Memory address of x is  1655901173312
Memory adress of y is  1655901173312

In [18]:
x=['Narendra','Prashant','Sarthi']
y=x.copy() # call copy() function
print("Original list is x=   ",x)
print("Duplicate list is y=  ",y)
#add elements into x
x.extend(['Vaibhav','Akshata'])
print("Original list is x=   ",x)
print("Duplicate list is y=  ",y)
#memory address of variable
print("Memory address of x is ",id(x))
print("Memory adress of y is ",id(y))

Original list is x=    ['Narendra', 'Prashant', 'Sarthi']
Duplicate list is y=   ['Narendra', 'Prashant', 'Sarthi']
Original list is x=    ['Narendra', 'Prashant', 'Sarthi', 'Vaibhav', 'Akshata']
Duplicate list is y=   ['Narendra', 'Prashant', 'Sarthi']
Memory address of x is  1655901169984
Memory adress of y is  1655901237120

In [ ]:
# what is difference between copy() function in a list and assignment operator?

In [24]:
# to replace list element by another element.
student_name=['Narendra', 'Prashant', 'Sarthi', 'Vaibhav', 'Akshata']
#replace vaibhav with siddhant 
index_number=student_name.index('Vaibhav')
student_name[index_number]='Siddhant'
print(student_name)
student_name[1]='Deepali'
print(student_name)

['Narendra', 'Prashant', 'Sarthi', 'Siddhant', 'Akshata']
['Narendra', 'Deepali', 'Sarthi', 'Siddhant', 'Akshata']

In [25]:
#To delete element from a list
student_name

['Narendra', 'Deepali', 'Sarthi', 'Siddhant', 'Akshata']

In [26]:
#pop() by default delete last element of list
student_name.pop()
print(student_name)

['Narendra', 'Deepali', 'Sarthi', 'Siddhant']

In [27]:
# remove () delete a particular element.
student_name.remove('Deepali')
print(student_name)

['Narendra', 'Sarthi', 'Siddhant']

In [28]:
numbers=[12,73,45,78,23,90,48,63,91]
numbers.reverse()
print(numbers)

[91, 63, 48, 90, 23, 78, 45, 73, 12]

In [29]:
#arrange elements in an ascending order
numbers.sort()
print(numbers)

[12, 23, 45, 48, 63, 73, 78, 90, 91]

In [30]:
#arrange elements in descending order
numbers.sort(reverse=True)
print(numbers)

[91, 90, 78, 73, 63, 48, 45, 23, 12]

In [31]:
student_name=['Narendra', 'Prashant', 'Sarthi', 'Vaibhav', 'Akshata','Siddhant']
student_name[::]

['Narendra', 'Prashant', 'Sarthi', 'Vaibhav', 'Akshata', 'Siddhant']

In [32]:
student_name[2]

'Sarthi'

In [33]:
student_name[:4]

['Narendra', 'Prashant', 'Sarthi', 'Vaibhav']

In [34]:
student_name[2:]

['Sarthi', 'Vaibhav', 'Akshata', 'Siddhant']

In [36]:
print(student_name)
student_name[::-1]

['Narendra', 'Prashant', 'Sarthi', 'Vaibhav', 'Akshata', 'Siddhant']

['Siddhant', 'Akshata', 'Vaibhav', 'Sarthi', 'Prashant', 'Narendra']

In [37]:
student_name[:3:2]

['Narendra', 'Sarthi']

In [40]:
print(student_name)
student_name[1:6]

['Narendra', 'Prashant', 'Sarthi', 'Vaibhav', 'Akshata', 'Siddhant']

['Prashant', 'Sarthi', 'Vaibhav', 'Akshata', 'Siddhant']

In [43]:
#tuple is defined by ()
#tuple is an immutable data type.
student_name=('Narendra', 'Prashant', 'Sarthi', 'Vaibhav', 'Akshata', 'Siddhant')
print(type(student_name))
student_name.index('Akshata')

<class 'tuple'>

4

In [44]:
student_name.count('Akshata')

1